<ion-content class="page-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Previous Lectures</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Coming soon
    </ion-card-content>
  </ion-card>
</ion-content>
