<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Student Portal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedIn">
  <ion-card class="welcome-card">
    <ion-item *ngIf="picture">
      <ion-avatar>
        <img src="{{ picture }}" alt="" />
      </ion-avatar>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>{{ email }}</ion-card-subtitle>
      <ion-card-title>{{ name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>AccessToken: {{ accessToken }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="!loggedIn" class="card">
  <ion-grid no-padding>
    <ion-row>
      <ion-col offset="2" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-text color="tertiary">
                <h1>Welcome to Aartzy group of companies</h1>
                <h2>
                  <ion-icon name="log-in"></ion-icon>
                  &nbsp;Please Login to continue
                </h2>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button
              (click)="login()"
              fill="outline"
              shape="round"
              color="tertiary"
            >
              Login
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
