<ion-content class="page-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Current Lecture</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
</ion-content>
