<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lectures</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateBack()" fill="clear"
        >Back
        <!-- <ion-icon slot="start" name="arrow-round-back"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="current-lecture" selected="true">
        <ion-label>Lecture</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="live-lecture">
        <ion-label>Live Lecture</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="previous-lecture">
        <ion-label>Previous Lectures</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
